#allUsers {
  display: none;
}

.c1 {
  background-color: rgb(189, 172, 176);
  color: black;
  font-weight: bold;
}
.c2 {
  /* background-color: rgb(1, 29, 29); */
  color: crimson;
}
.card {
  background-color: rgb(135, 133, 136);
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 5px 5px 4px gray;
  margin-bottom: 10vh;
}
#hideUsers {
  display: none;
}
#showUsersBtn {
  display: none;
}
